/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import "flatpickr/dist/flatpickr.min.css";
@import "izitoast/dist/css/iziToast.min.css";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

#datetime-picker{
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 8px;
  width: 272px;
  height: 40px;
  border-color: #808080;
  border-width:  1px;
  border-radius:  4px;
  font-size: 16px;
  padding-left: 16px;
}

button{
  color: #989898;
  border-color: #CFCFCF;
  border-radius: 8px;
  box-shadow: none;
  background-color: #CFCFCF;
  height: 40px;
  padding: 8px 16px;
}

.timer{
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  margin-top: 16px;
}

.field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #2E2F42;
  width: 76px;
}

.value{
  color: #2E2F42;
  font-size: 40px;
  padding-bottom: 5px;
}

.label{
  font-size: 16px;
  text-transform: uppercase;
}



.form{
  display: flex;
  flex-direction: column;
  width: 360px;
}

.input-number{
  display: flex;
  flex-direction: column;
}

.notification{
  margin-top: 20px;
  background-color: #4E75FF;
  color: #FFFFFF;
  
}